# игнорировать папку node_modules
node_modules/

# игнорировать лог-файлы
*.log

# игнорировать временные файлы ОС
.DS_Store
Thumbs.db

# игнорировать временные файлы IDE/редакторов
.vscode/
.idea/

# игнорировать файлы сборки
dist/
build/

# игнорировать конфигурационные файлы сред
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# игнорировать кэш Vite
.vite
