# Игнорировать папку node_modules
node_modules/

# Игнорировать временные файлы ОС
.DS_Store
Thumbs.db

# Игнорировать лог-файлы
*.log

# Игнорировать временные файлы IDE/редакторов
.vscode/
.idea/

# Игнорировать файлы сборки
dist/
build/

# Игнорировать конфигурационные файлы сред
.env

# Игнорировать кэш Vite
.vite/
